/* Todos los elementos HTML usarán la fuente "Open Sans", sans-serif */

* {
    font-family: "Open Sans", sans-serif;
}

/* El elemento body sin margen y sin relleno */

body {
    margin: 0;
    padding: 0;
}
#main{
    display: grid;
    grid-template-areas:"area1 area1 area1"
                        "area2 area3 area4";
}
#mainLink{
    grid-area: area1;
}
#mainIzquierdo{
    display: grid;
    grid-template-areas:"area21 area21"
                        "area22 area23";
}
#MainIzquierdoImagen{
     grid-area: area23;
}
#mainDerecho{
    display: flex;
    list-style-type: none;
    flex-direction: column;
}
#mainDerechoIsbn{
    display: flex;
}
#divMainImagenesWeb{
    display: flex;
    list-style-type: none;
    flex-direction: column;
}