/* Todos los elementos HTML usarán la fuente "Open Sans", sans-serif */

* {
    font-family: "Open Sans", sans-serif;
}

/* El elemento body sin margen y sin relleno */

body {
    margin: 0;
    padding: 0;
    padding: inline 3vh;
}

#main {
    padding: 2rem;
    display: grid;
    grid-template-areas: "area1 area1 area1"
        "area2 area3 area4";
}

#mainLink {
    grid-area: area1;
    font-weight: bold;
}

#mainIzquierdo {
    display: grid;
    grid-template-areas: "area21"
        "area22";
    padding-left: 1rem;
    padding-right: 3rem;
}

#MainIzquierdoImagen {
    grid-area: area22;
    border: 1rem solid white;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}

#mainDerecho {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding-left: 8vmax;
    padding-right: 10vmax;
    border-right: red;
    border-right-style: groove;

}
#mainDerechoTitulo{
    padding-top: 6vmax;
}

#mainDerechoIsbn {
    display: flex;
}
#isbnNumber{
    font-size: 1.5vmax;
    font-weight: 100;
    padding-left: .5em;
}

#mainDerechoAutor{
    flex-direction: row;
    display: flex;
    align-items: center;
}

#divMainImagenesWeb {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-around;
}
#divMainImagenesWeb img{
    border: 1rem solid white;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
   
}